.App {
  text-align: center;
  /* margin-left: 32vh !important;
  margin-right: 32vh !important; */
}

.MainMenu {
   background-color: #E8E8E8 !important;
}

.mainSearch {
  background-color: #E8E8E8;
  margin-top: 4px;
}

.mainHeader {
    padding-top: 10vh !important;
    margin-bottom: 7vh !important;
}

.searchMargin {
  padding-bottom: 25vh !important;
}

.mainInfo {
  background-color: #BFBFBF
}

.infoHeader {
  padding-top: 15vh !important;
  padding-bottom: 5vh !important;
}

.infoText {
  height: inherit;
    width: 33vh;
}

.infoList {
  padding-bottom: 15vh !important;
  width: 100%;
}

.autocomplete {
    border: #E8E8E8;
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
}

.guestsButton{
  background-color: white !important;
  border: #E8E8E8 !important;
  padding: 17.5px !important;
  font-size: 16px !important;
  border-radius: 2px !important;
  outline: none !important;
  width: 100%;
}

.searchButton {
  width: 100%;
  padding: 17.5px !important;
  font-size: 16px !important;
  border-radius: 2px !important;
  outline: none !important;
}

.floatRight {
  float: right;
}

.maxWidth {
  width: 50%;
}

#PlacesAutocomplete_autocomplete-container {
  width: 100%;
}

.counterbutton {
  border-radius: 2px !important;
}

.personPicker {
  position:absolute  !important;
  width: 190px;
}

.mapFrame {
  float: right;
  width: 50%;
  height: 100%;
  /* padding-top: 5%; */
}

.searchContent {
  margin: 0 5% 0 5%; 

}
.resultsContent {
  float: left;
  width: 50%;
  height: 100%;
}

.searchContainer {
  padding-top: 5%;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F6F6F6; 
}

.ui.form input{
  background-color: white !important;
  border: #E8E8E8 !important;
  padding: 17.5px !important;
  font-size: 16px !important;
  border-radius: 2px !important;
  outline: none !important;
}

.searchAutoComplete {
  width: 50%;
}

.resultsContainer {
  background-color: #E8E8E8;
  padding: 5%;
  margin-top: 20vh;
}

.results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.DateRangePicker {
  width: 100%;
}

.DateRangePickerInput {
  width: 100%;
  border:  none !important;
}

.CalendarDay__selected_start  {
  background: #b22f1a !important;
  border-color: white !important;
}

.CalendarDay__selected_span {
  background: red !important;
  border-color: white;
}

.CalendarDay__hovered_span {
  background: rgba(249, 58, 27, .7)!important;
  border-color: white;
}

.CalendarDay__selected_end  {
  background: #b22f1a !important;
  border-color: white !important;
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  border-right: 33px solid red !important;
}