.App {
  text-align: center;
  margin: 5vh 32vh;
}

.mainSearch {
  background-color: #E8E8E8;
}

.mainHeader {
    margin-top: 10vh !important;
    margin-bottom: 7vh !important;
}

.searchMargin {
  padding-bottom: 25vh !important;
}

.mainInfo {
  background-color: #BFBFBF
}

.infoHeader {
  padding-top: 15vh !important;
  padding-bottom: 5vh !important;
}

.infoText {
  height: inherit;
    width: 33vh;
}

.infoList {
  padding-bottom: 15vh !important;
  width: 100%;
}

.autocomplete {
    border: #E8E8E8;
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
}

.guestsButton{
  background-color: white !important;
  border: #E8E8E8 !important;
  padding: 17.5px !important;
  font-size: 16px !important;
  border-radius: 2px !important;
  outline: none !important;
  width: 100%;
}

.searchButton {
  width: 100%;
  padding: 17.5px !important;
  font-size: 16px !important;
  border-radius: 2px !important;
  outline: none !important;
}

.floatRight {
  float: right;
}

.maxWidth {
  width: 100%;
}

#PlacesAutocomplete_autocomplete-container {
  width: 100%;
}

.counterbutton {
  border-radius: 2px !important;
}

.personPicker {
  position:absolute  !important;
  width: 190px;
}